{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar{
    display: flex;
    align-items: center;
    padding: 20px;
}
header{
	margin-left: 1030px;
    flex: 1;
    text-align: right;
}
ul{
    display: inline-block;
    list-size-type: none;
}
ul li{
    display: inline-block;
    margin-right: 20px;
}
ul li a{
    text-decoration: none;
    color: #555;
}

.sign-up-form
{
	width: 300px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
	background-color: rgba(255,255,255,.3); 
	padding: 20px;
	margin: 8% auto 0;
	text-align: center;
}
.sign-up-form h1
{
	color: #1c8adb;
	margin-bottom: 30px;
}
.input-box
{
	border-radius: 20px;
	padding: 10px;
	margin: 10px 0;
	width: 100%;
	border: 1px solid #999;
	outline: none;
}
button
{
	color: #fff;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	font-size: 15px;
	margin: 10px 0;
	border: none;
	outline: none;
	cursor: pointer;
}
.signup-btn
{
	background-color: #1c8adb;
}