*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
}
.nav-bar{
    display: flex;
    align-items: center;
    padding: 20px;
}
header{
    flex: 1;
    text-align: right;
}
ul{
    display: inline-block;
    list-size-type: none;
}
ul li{
    display: inline-block;
    margin-right: 20px;
}
ul li a{
    text-decoration: none;
    color: #555;
}
.container{
    width: 100%;
}
.wrapper{
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.text{
    flex-basis: 45%;
}
.all-images{
    height: 80vh;
    display: flex;
}
.small-images{
    display: flex;
    flex-direction: column;
}
.small-images img{
    height: 19vh;
    margin-bottom: 9px;
    cursor: pointer;
    opacity: 0.8;
}
.main-images img{
    height: 100%;
}
p{
    margin-bottom: 20px;
}
h2{
    font-size: 35px;
    color: #555;
    margin-bottom: 20px;
}
.price{
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #008000;
    width: fit-content;
}
p{
    color: rgb(15, 14, 14);
    margin-bottom: 20px;
    padding-top: 10px;
}
input{
    width: 30px;
    border: 1px solid #ccc;
    font-weight: bold;
    text-align: center;
}
button{
    width: 130px;
    color: #fff;
    font-size: 15px;
    outline: none;
    border: 0;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #fe980f;
    box-sizing: border-box;
    cursor: pointer;
}
.dicription{
    font-size: 15px;
    padding-top: 15px;
    text-align: justify;
}

